@charset "UTF-8";

/* all */

body {
	font-family: 'Noto Sans JP', Arial, 'Hiragino Kaku Gothic ProN',
		'Hiragino Sans', 'Meiryo', sans-serif;
	line-height: 1;
}

img {
	max-width: 100%;
	height: auto;
}

/* btn */
.btn {
	display: inline-block;
	width: 280px;
	border: 1px solid #ffffff;
	border-radius: 100px;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 17px;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	transition: 0.3s;
	background-color: #639364;
}

.btn:hover {
	opacity: 0.7;
}

.btn-contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* google icon */
.icon-img {
	font-size: 48px;
	vertical-align: bottom;
}

/* cp_arrows */
.cp_arrows {
	position: relative;
	display: flex;
	height: 120px; /*画面いっぱいにする場合100vh*/
	justify-content: center;
	align-items: center;
}

.cp_arrows .cp_arrow {
	/*矢印を配置するベースの設定*/
	position: absolute;
	top: 70%; /*着地点(cp_arrowsの高さの50%)*/
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 10px;
	opacity: 0;
}

.cp_arrows .cp_arrow:first-child {
	animation: arrow-move08 2s ease-in-out infinite;
}

.cp_arrows .cp_arrow:nth-child(2) {
	animation: arrow-move08 2s 1s ease-in-out infinite;
}

.cp_arrows .cp_arrow:before,
.cp_arrows .cp_arrow:after {
	/*矢印全体の設定*/
	position: absolute;
	content: '';
	top: 0;
	width: 30px;
	height: 3px;
	background: #639364;
}

.cp_arrows .cp_arrow:before {
	/*矢印左の線の位置と傾斜*/
	left: 3px;
	transform: rotate(30deg);
}

.cp_arrows .cp_arrow:after {
	/*矢印左の線の位置と傾斜*/
	right: 3px;
	transform: rotate(-30deg);
}

@keyframes arrow-move08 {
	0% {
		opacity: 0;
		top: 30%; /*スタート地点(cp_arrowsの高さの40%)*/
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* ページ遷移 */
body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #639364;
	pointer-events: none;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.5s ease;
}

body.fadeout::after {
	opacity: 1;
}

#container {
	max-width: 1300px;
	margin: 0 auto;
}

#header {
	margin: 0 auto;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: auto;
	height: 100px;
	align-items: center;
}

.header-logo {
	max-width: 400px;
	transition: 0.3s;
}

.header-logo:hover {
	opacity: 0.7;
}

.contact {
	display: flex;
	align-items: center;
}

.telephone-inner {
	display: flex;
	padding-right: 10px;
}

.telephone-text {
	font-size: 48px;
	font-weight: bold;
	line-height: 1;
}

.time-inner {
	font-size: 24px;
	letter-spacing: 0.1em;
	padding-left: 50px;
	line-height: 1.5;
}

.mail-icon-wrapper {
	padding-right: 5px;
}

#content {
	display: flex;
	margin: 30px 0 40px;
	justify-content: center;
}

.sidebar {
	width: 350px;
	margin-right: 30px;
}

.nav {
	padding: 20px;
}

.nav-wrapper {
	background-color: #639364;
	margin-bottom: 40px;
}

.nav-item {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #e3e3d9;
	color: #787878;
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.05em;
	transition: 0.3s;
	border-radius: 5px;
}
.nav-item:last-child {
	margin-bottom: 0;
}
.nav-item:hover {
	opacity: 0.7;
}

.icon-wrapper {
	margin-right: 13px;
}

.service-list-title {
	text-align: center;
	padding: 9px;
	font-size: 30px;
	font-weight: bold;
	color: #da6167;
	background-color: #ffdb83;
	line-height: 1.5;
}

.service-list-item {
	display: flex;
	align-items: center;
	padding: 10px 0;
	background-color: #e3e3d9;
	font-size: 20px;
	font-weight: bold;
	color: #787878;
	line-height: 1.5;
	letter-spacing: 0.05em;
	border-bottom: solid 3px #da6167;
	transition: 0.3s;
}
.service-list-item:hover {
	background-color: #787878;
	opacity: 0.5;
	color: #ffffff;
}

.main {
	max-width: 920px;
}

.price {
	max-width: 920px;
}

.service-title {
	color: #639364;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
}

.main-service-list {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
}

.btn-detail {
	margin-top: 30px;
	margin-bottom: 40px;
}

.subVisual {
	background-color: #ffdb83;
	position: relative;
}

.subVisual-text {
	color: #787878;
	font-size: 32px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	padding: 48px 0 14px 48px;
}
.SP-only {
	display: none;
}

.sub-telephone {
	padding-left: 42px;
	color: #da6167;
}

.sub-time {
	color: #787878;
	padding-left: 90px;
}

.sub-contact {
	display: inline-block;
	padding: 10px 0 57px 90px;
}

.subVisual-person-img {
	width: 270px;
	position: absolute;
	bottom: 0;
	right: 5%;
}

#footer {
	background-color: #639364;
	height: 100px;
	padding: 15px 70px;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: auto;
	max-width: 1300px;
}

.footer-logo {
	max-width: 250px;
}

.footer-nav-list {
	display: flex;
	column-gap: 24px;
	color: #ffffff;
	font-size: 15px;
}

.footer-nav-item {
	transition: 0.3s;
}
.footer-nav-item:hover {
	opacity: 0.7;
}

.copyright {
	text-align: center;
	margin-top: 50px;
	color: #ffffff;
	font-size: 10px;
}

.footer-inner .contact-inner .btn {
	background-color: #fff;
	color: #639364;
	max-width: 280px;
	font-size: 30px;
}

.footer-inner .icon-img {
	font-size: 40px;
}

/* company.html */

.head-message {
	margin-bottom: 70px;
}

.head-message-title,
.company-info-title,
.service-detail-title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.5;
	color: #639364;
	margin-bottom: 20px;
	border-bottom: 1px solid #639364;
}

.head-message-text-wrapper {
	display: flex;
	align-items: start;
}

.head-message-text {
	width: 70%;
	font-size: 15px;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 1.8;
	margin-right: 10px;
}

.head-img-wrapper {
	width: 30%;
}

.company-info-table {
	margin-bottom: 30px;
}

.table01 {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.table01 tr {
	border-bottom: solid 1px #ddd;
}

.table01 th,
.table01 td {
	font-size: 20px;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding: 20px 10px 20px 0;
	text-align: left;
}

.table01 tr:first-child td,
.table01 tr:first-child th {
	padding-top: 0;
}

.access-map {
	margin-bottom: 10px;
}

.access-map-link {
	color: #787878;
}

/* service.index */
.basic-fee {
	margin-bottom: 70px;
}

.basic-fee-list {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	background-color: #639364;
}

.basic-fee-item {
	display: flex;
	color: #ffffff;
	padding: 20px 20px;
}

.basic-fee-item-img {
	margin-right: 20px;
	max-width: 140px;
	object-fit: contain;
}

.basic-fee-item-title {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.05em;
}

.basic-fee-item-subtitle {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
}

.basic-fee-item-subtitle .name {
	font-size: 24px;
	font-weight: normal;
}

.basic-fee-item-subtitle .price {
	font-size: 36px;
}

.basic-fee-item-subtitle .tax {
	font-size: 14px;
	font-weight: normal;
}

.service-detail-list {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.service-detail-list-item {
	position: relative;
}

.service-detail-list-item-img {
	opacity: 0.4;
}

.service-detail-list-item-text {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #639364;
	letter-spacing: 0.05em;
	line-height: 1.5;
}

.service-detail-list-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* .table02 {
} */

.table02 th,
.table02 td {
	font-size: 30px;
	font-weight: bold;
	color: #639364;
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding-bottom: 10px;
	text-align: left;
}
.table02 th {
	padding-right: 20px;
}
.table02 th span,
.table02 td span {
	font-size: 24px;
	font-weight: normal;
}
.table02 .tax-include {
	font-size: 14px;
}

/* privacyPolicy */
.privacy-policy-body {
	margin-left: 20px;
}

.privacy-policy-explain {
	font-size: 15px;
	padding-bottom: 50px;
	line-height: 1.5;
}

.privacy-policy-item {
	padding-bottom: 30px;
}

.privacy-policy-item-title {
	font-size: 30px;
	font-weight: bold;
	color: #639364;
	padding-bottom: 15px;
}

.privacy-policy-item-text {
	font-size: 15px;
	line-height: 1.5;
	list-style-type: decimal;
}

.privacy-policy-item-text li {
	margin-left: 20px;
}

.privacy-policy-item-text-second {
	list-style: lower-latin;
	margin-left: 20px;
}

.privacy-policy-item-text .contact-link {
	text-decoration: underline;
	font-weight: bold;
	transition: all 0.3s;
}
.privacy-policy-item-text .contact-link:hover {
	cursor: pointer;
	opacity: 0.5;
}

@media screen and (max-width: 1250px) {
	.header-inner {
		flex-direction: column;
		height: auto;
		align-items: center;
	}

	.header-logo {
		max-width: 100%;
		text-align: center;
	}

	.contact {
		flex-direction: column;
		padding: 20px 0;
	}

	.telephone-time-wrapper {
		padding-bottom: 10px;
	}

	.telephone-inner {
		padding-right: 0;
	}

	.icon-img {
		font-size: 40px;
	}

	.telephone-text {
		font-size: 40px;
		border: none;
	}

	.time-inner {
		font-size: 24px;
	}

	.btn-contact {
		font-size: 24px;
	}

	#content {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.sidebar {
		width: 100%;
		margin-right: 0;
	}

	.nav-wrapper {
		margin-bottom: 0;
	}

	.nav-list {
		display: flex;
		column-gap: 10px;
		justify-content: space-around;
	}

	.nav-item {
		flex-direction: column;
		padding: 6px;
		font-size: 15px;
		margin-bottom: 0;
		width: 150px;
	}

	.icon-wrapper {
		margin-right: 0;
	}

	.service-list-wrapper {
		display: none;
	}

	.main {
		max-width: 100%;
	}

	.price {
		max-width: 100%;
	}

	.main-service-list {
		padding: 0 10px;
	}
}

@media screen and (max-width: 1024px) {
	.service-title {
		font-size: 30px;
		margin-top: 20px;
	}

	.subVisual-text {
		font-size: 15px;
		padding: 20px 0 0 20px;
	}

	.subVisual-text .SP-only {
		display: block;
	}

	.subVisual-text span {
		font-size: 20px;
		font-weight: bold;
	}

	.sub-telephone {
		padding-left: 20px;
		padding-top: 20px;
	}

	.sub-contact {
		display: block;
		margin: 0;
		padding: 10px 10px;
	}

	.subVisual-person-img {
		width: 200px;
		top: 20px;
	}

	.subVisual-person-img {
		width: 125px;
		top: 20px;
	}

	#footer {
		padding: 10px 10px;
		height: auto;
	}

	.footer-inner {
		align-items: start;
	}

	.footer-logo {
		max-width: 120px;
	}

	.footer-nav-area {
		text-align: center;
	}

	.footer-nav-list {
		flex-direction: column;
		font-size: 10px;
		padding-top: 0;
		gap: 20px;
	}

	.copyright {
		margin-bottom: 0;
		font-size: 8px;
	}

	.footer-inner .contact-inner .btn {
		font-size: 10px;
		max-width: 120px;
		padding: 10px;
	}

	.footer-inner .icon-img {
		font-size: 20px;
	}

	/* company.html */

	.head-message,
	.company-info {
		margin: 10px 0 40px 0;
		padding: 0 15px;
	}

	.head-message-title,
	.company-info-title,
	.service-detail-title {
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.head-message-text-wrapper {
		flex-direction: column-reverse;
		align-items: center;
	}

	.head-message-text {
		width: 100%;
		margin: 0;
		font-size: 12px;
	}

	.head-img-wrapper {
		width: 60%;
		margin-bottom: 10px;
		text-align: center;
	}

	.table01 th,
	.table01 td {
		padding: 10px 5px;
		font-size: 10px;
		text-align: center;
	}

	.access-map-link {
		font-size: 10px;
	}

	/* service.index */

	.basic-fee {
		margin-bottom: 20px;
	}

	.basic-fee-list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.basic-fee-item-img {
		max-width: 100px;
		object-fit: contain;
	}

	.basic-fee-item-title {
		font-size: 24px;
	}

	.basic-fee-item-subtitle {
		font-size: 24px;
	}

	.basic-fee-item-subtitle .name {
		font-size: 18px;
	}

	.basic-fee-item-subtitle .price {
		font-size: 30px;
	}

	.basic-fee-item-subtitle .tax {
		font-size: 10px;
	}

	.basic-fee-item-text {
		font-size: 14px;
	}

	.service-detail {
		margin: 15px;
	}

	.service-detail-list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.service-detail-list-item-text {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.service-detail-list-title {
		font-size: 26px;
		margin: 20px 0;
		text-align: center;
	}

	.table02 {
		margin: 0 auto;
	}

	.table02 th,
	.table02 td {
		font-size: 20px;
		padding: 5px 0;
	}

	.table02 th {
		padding-right: 20px;
	}

	.table02 th span,
	.table02 td span {
		font-size: 16px;
		font-weight: normal;
	}

	.table02 .tax-include {
		font-size: 10px;
	}

	/* privacyPolicy */

	.privacy-policy-body {
		margin-left: 0;
		padding: 40px 20px;
	}

	.privacy-policy-explain {
		font-size: 14px;
		padding-bottom: 30px;
	}

	.privacy-policy-item:nth-last-child(1) {
		padding-bottom: 0;
	}
	.privacy-policy-item-title {
		font-size: 20px;
	}
	.privacy-policy-item-text {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.nav-item {
		padding: 6px;
		font-size: 8px;
		margin-bottom: 0;
		width: 100px;
	}

	.icon-wrapper {
		margin-right: 0;
	}

	.service-title {
		font-size: 20px;
		margin-top: 20px;
	}
}
